body {
    width: 300px;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.popup-container {
    text-align: center;
}

h2 {
    color: #333;
}

#summary-text {
    color: #666;
}